version: '3'
services:
  pg-0:
    image: docker.io/bitnami/postgresql-repmgr:11-debian-10
    ports:
      - 5432
    volumes:
      - /data/postgres:/bitnami/postgresql
    deploy:
      placement:
        constraints:
          - "node.role==manager"
    environment:
      - POSTGRESQL_POSTGRES_PASSWORD=root
      - POSTGRESQL_USERNAME=secandsys
      - POSTGRESQL_PASSWORD=s3c4ndsys
      - POSTGRESQL_DATABASE=secandsys
      - REPMGR_PASSWORD=repmgrpassword
      - REPMGR_PRIMARY_HOST=pg-0
      - REPMGR_PRIMARY_PORT=5432
      - REPMGR_PARTNER_NODES=pg-0,pg-1:5432
      - REPMGR_NODE_NAME=pg-0
      - REPMGR_NODE_NETWORK_NAME=pg-0
      - REPMGR_PORT_NUMBER=5432

  pg-1:
    image: docker.io/bitnami/postgresql-repmgr:11-debian-10
    ports:
      - 5432
    volumes:
      - /data/postgres:/bitnami/postgresql
    #networks: 
    #  - mw_middleware
    deploy:
      placement:
        constraints:
          - "node.role==worker"
    environment:
      - POSTGRESQL_POSTGRES_PASSWORD=root
      - POSTGRESQL_USERNAME=secandsys
      - POSTGRESQL_PASSWORD=s3c4ndsys
      - POSTGRESQL_DATABASE=secandsys
      - REPMGR_PASSWORD=repmgrpassword
      - REPMGR_PRIMARY_HOST=pg-0
      - REPMGR_PRIMARY_PORT=5432
      - REPMGR_PARTNER_NODES=pg-0,pg-1:5432
      - REPMGR_NODE_NAME=pg-1
      - REPMGR_NODE_NETWORK_NAME=pg-1
      - REPMGR_PORT_NUMBER=5432
